.Soda {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}

.Soda img {
  animation: spin 1s linear infinite;
  animation-direction: alternate;

}

@keyframes spin {
  from {
    transform: rotate(-45deg);
  }
  to {
    transform: rotate(45deg);
  }
  
}
